body {
   font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.logo {
  width: 400px;
}

.centred {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.screenshot {
   width: 600px;
}
